body {
    background-color: #000000;
    font-family: Arial;
}

#container, header {
    padding-left: 10px;
    width: 1310px;
    margin: 0 auto;
}

#container {
    background-color: #ffffff;
    clear: both;
}

nav, label, h1, h2, figcaption, button, footer, input:placeholder-shown, .row {
    text-transform: uppercase;
}

.logo {
    color: #007D7B;
}

h1 {
    float: left;
    display: block;
    padding-left: 40px;
}
 
nav {
    float: right;
    margin: 20px;
}

nav ul li {
    display: inline-block;
}
 
 nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}
 
 nav a:hover {
    background-color:#007D7B;
    color: #ffffff;
}
 
[href="#top"] {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #007D7B;
}
 
.top:hover {
    background-color: #ffffff;
    color: #007D7B;
}


.column {
    display: inline-block;
    margin-left: 0;
    width: 420px;
    padding: 2px;
}
.portrait {
    height: 630px;
}

.row {
    position: relative;
}

.column {
    position: relative;
}

.caption-white {
    color: #ffffff;
}

.caption-top-left {
    position: absolute;
    top: 0px;
    left: 10px;
}

.caption-chile {
    position: absolute;
    top: 0px;
    left: 10px;
}

.caption-bottom-right {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.caption-bottom-left {
    position: absolute;
    bottom: 0px;
    left: 10px;
}
/*#contact {
    background-color: #000000;
    color: #ffffff;
    display: block;
}

.contact-form h2, p {
    text-align: center;
}

label {
    font-size: 16px;
    padding: 15px 0;
}

input::placeholder {
    color: #007D7B;
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    width: 450px;
    padding: 8px;
    display: block;
    margin: 0 auto;
}

button {
    cursor: pointer;
    position: relative;
    left: 15px;
}

.button-style {
    padding: 9px 100px;
    margin: 10px;
    font-size: 16px;
    background-color: #007D7B;
    color: #ffffff;
    border-radius: 6px;
}*/